<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Hello everyone! </div>

<p>Get your GOOGLE authorization <a href="/google">here</a></p>
<p> OR </p>
<a href="/main">Sign in</a>

</body>
</html>